html {
  font-family: 'Helvetica';
}

div {
  font-family: 'Helvetica';
  justify-content: center;
}

body {
    text-align: center;
    background-color: #8FD24B;
    font-family: 'Helvetica';
  }

button {
  font-family: inherit;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}